<section data-ng-controller="ProjectsController" data-ng-init="findOne('EDIT')">
    <div class="page-header">
        <h1>Manage TFA Deliverables for a Project <a ui-sref="projects.view({projectId: project._id})">{{project.pmtId}}</a></h1>
    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> General Details</h3>
                </div>
                <div class="panel-body">
                    <dl class="list-group">
                        <dt> Description</dt>
                        <dd>{{project.description}}</dd>
                        <dt> Status</dt>
                        <dd>{{project.status.value}}</dd>
                        <dt> Impacted Application</dt>
                        <dd>{{project.impactedApplication.value}}</dd>
                        <dt> Project Impact</dt>
                        <dd>{{project.impact.value}}</dd>
                        <dt>Requested Release</dt>
                        <dd>{{project.release}}</dd>
                        <dt>Dependencies</dt>
                        <dd>{{project.dependencies}}</dd>
                        <dt>Impacted Workstreams</dt>
                        <dd ng-repeat="ws in project.impactedWorkstreams">{{ws.value}}</dd>
                        <dt>Complexity</dt>
                        <dd>{{project.complexity.value}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" name="projectForm" data-ng-submit="update()">
        <div class="page-header"><h3>Resource Assignment Details</h3></div>
        <div class="form-group">
            <label for="selTFAArchitect" class="control-label col-xs-2">Techno Functional Architect(TFA)</label>
            <div class="col-xs-10">
                <select multiple class="form-control" id="selTFAArchitect" ng-options="arch.value for arch in assignedTFA" data-ng-model="selTFAArchitect" required>
                </select>
                <span class="help-block">By holding CTRL button select more than one architect to assign to the project</span>
            </div>
        </div>
        <div class="page-header"><h3>Deliverables & Status </h3></div>
        <div class="form-group">
            <label for="tfaDeliveredOntime" class="control-label col-xs-2">Has TFA documents delivered on time?</label>
            <div class="col-xs-10">
                <input type="radio" data-ng-model="project.tfaDeliverables.deliveredOntime" id="tfaDeliveredOntime" value="YES">Yes
                <input type="radio" data-ng-model="project.tfaDeliverables.deliveredOntime" id="tfaDeliveredOntimeN" value="NO">No
                <input type="radio" data-ng-model="project.tfaDeliverables.deliveredOntime" id="tfaDeliveredOntimeNA" value="N/A">Not Applicable
            </div>
        </div>
        <div class="form-group">
            <label for="tfaDelay" class="control-label col-xs-2">Reason for Deliverables Delay if any</label>
            <div class="col-xs-10">
                        <textarea class="form-control" id="tfaDelay" rows="5" placeholder="Delayed Reason if any."
                                  data-ng-model="project.tfaDeliverables.reasonForDelay"
                                  maxlength="4000" ng-required="project.tfaDeliverables.deliveredOntime==='NO'"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="tfadocReference" class="control-label col-xs-2">Document Reference & Links</label>
            <div class="col-xs-10">
                        <textarea class="form-control" id="tfadocReference" rows="7" placeholder="Document Reference"
                                  data-ng-model="project.tfaDeliverables.documentLinks"
                                  maxlength="6000"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="tfanotes" class="control-label col-xs-2">Additional Notes & Comments</label>
            <div class="col-xs-10">
                        <textarea class="form-control" id="tfanotes" rows="7" placeholder="Comments"
                                  data-ng-model="project.tfaDeliverables.additionalNotes"
                                  maxlength="6000"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">                &nbsp;
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Modify Project</button>
            </div>
        </div>
    </form>
</section>
