<div id="wrapper" data-ng-controller="ProjectsController" ng-class="{'toggled': toggled}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <!-- Sidebar Links -->
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Manage Project</li>
            <li>
                <a data-ui-sref="projects.edit({projectId: project._id})" ng-show="authentication.user.roles.indexOf('editor')!=-1">
                    <i class="glyphicon glyphicon-edit"></i> Modify Project
                </a>
            </li>
            <li>
                <a data-ui-sref="projects.dmedit({projectId: project._id})" ng-show="authentication.user.roles.indexOf('dm_editor')!=-1">
                    <i class="glyphicon glyphicon-edit"></i> Manage Data Mapping
                </a>
            </li>
            <li>
                <a data-ui-sref="projects.tfaedit({projectId: project._id})" ng-show="authentication.user.roles.indexOf('tfa_editor')!=-1">
                    <i class="glyphicon glyphicon-edit"></i> Manage TFA Deliverables
                </a>
            </li>
            <li>
                <a data-ui-sref="request.create({projectId: project._id, pmtId: project.pmtId})" ng-show="authentication.user.roles.indexOf('editor')!=-1 || authentication.user.roles.indexOf('tfa_editor')!=-1">
                    <i class="glyphicon glyphicon-chevron-right"></i> Add Change request
                </a>
            </li>
            <li>
                <a data-ui-sref="issues.create({projectId: project._id, pmtId: project.pmtId, release:project.release})">
                    <i class="glyphicon glyphicon-alert"></i> Add Risk & Issue
                </a>
            </li>
            <li>
                <a data-ui-sref="estimates.create({projectId: project._id, pmtId: project.pmtId, estType:'MDE',application:project.impactedApplication.key})"
                   ng-show="authentication.user.roles.indexOf('editor')!=-1 && !mdeExists">
                    <i class="glyphicon glyphicon-usd"></i> Add MDE Estimate
                </a>
            </li>
            <li>
                <a data-ui-sref="estimates.create({projectId: project._id, pmtId: project.pmtId, estType:'DDE1',application:project.impactedApplication.key})"
                   ng-show="authentication.user.roles.indexOf('editor')!=-1 && !dde1Exists">
                    <i class="glyphicon glyphicon-adjust"></i> Add DDE Estimate
                </a>
            </li>
            <li>
                <a href="#upload" ng-show="authentication.user.roles.indexOf('editor')!=-1">
                    <i class="glyphicon glyphicon-upload"></i> Upload Documents
                </a>
            </li>
            <li>
                <a href="#" ng-click="open()">
                    <i class="glyphicon glyphicon-plus"></i> Create a Discussion
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="content" class="page-content-wrapper">
        <section data-ng-init="findOne('VIEW')">
            <div class="page-header">
                <h1> {{project.pmtId}}</h1>
                <div ng-show="(authentication.user.roles.indexOf('editor')!=-1 || authentication.user.roles.indexOf('dm_editor')!=-1 || authentication.user.roles.indexOf('tfa_editor')!=-1) && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" ng-click="toggle()">
                        <i class="glyphicon glyphicon-align-left"></i>
                        Manage Project
                    </button>
                    <!--a class="btn btn-primary" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a-->
                </div>
            </div>
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> General Details</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="list-group">
                                <dt> Description</dt>
                                <dd>{{project.description}}</dd>
                                <dt> Status</dt>
                                <dd>{{project.status.value}}</dd>
                                <dt> Is this SAFe(Scaled Agile) Project?</dt>
                                <dd>{{project.safeProject}}</dd>
                                <dt> Impacted Application</dt>
                                <dd>{{project.impactedApplication.value}}</dd>
                                <dt> Project Impact</dt>
                                <dd>{{project.impact.value}}</dd>
                                <dt>Requested Release</dt>
                                <dd>{{project.release}}</dd>
                                <dt>Dependencies</dt>
                                <dd>{{project.dependencies}}</dd>
                                <dt>Impacted Workstreams</dt>
                                <dd ng-repeat="ws in project.impactedWorkstreams">{{ws.value}}</dd>
                                <dt>Complexity</dt>
                                <dd>{{project.complexity.value}}</dd>
                                <dt>Product/Services Supported</dt>
                                <dd ng-repeat="product in project.supportedProducts">{{product.value}}</dd>
                                <dt>Funded Organization</dt>
                                <dd>{{project.fundedOrganization}}</dd>
                                <dt>Program Initiative</dt>
                                <dd>{{project.initiativeProgram}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Project Roles</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="list-group">
                                <dt> Assigned DETS Architects</dt>
                                <dd ng-repeat="architect in project.roles.detsArchitect">{{architect.value}}
                                </dd>
                                <dt> Assigned TFAs</dt>
                                <ul>
                                    <li ng-repeat="architect in project.roles.assignedTFA">
                                        {{architect.value}}
                                        <ul>
                                            <li ng-repeat="ws in architect.workstreams">
                                                {{ws.value}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <dt> Assigned Data Mapping Architects</dt>
                                <dd ng-repeat="architect in project.roles.assignedDMTFA">{{architect.value}}
                                </dd>
                                <dt> ITAS Architect</dt>
                                <dd>{{project.roles.enterpriseArchitect}}</dd>
                                <dt> Technology Solution Manager</dt>
                                <dd>{{project.roles.tsm}}</dd>
                                <dt>Lead Project Manager</dt>
                                <dd>{{project.roles.lpm}}</dd>
                                <dt>Lead TFA</dt>
                                <dd>{{project.roles.leadTFA}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> HLD Details & Upload Support Documents</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="list-group">
                                <dt> Status</dt>
                                <dd>{{project.hldDetail.hldStatus.value}}</dd>
                                <dt> Delivered On</dt>
                                <dd>{{project.hldDetail.deliveredOn | date: 'MM/dd/yyyy'}}</dd>
                                <dt> Delivered On Time</dt>
                                <dd>{{project.hldDetail.deliveredOntime}}</dd>
                                <dt> Reason for delay If any</dt>
                                <dd>{{project.hldDetail.reasonForDelay}}</dd>
                                <dt>Uploaded Documents</dt>
                                <ul>
                                    <li ng-repeat="file in project.attachments">
                                        <a href="/api/project/document/download?release={{project.release}}&pmtId={{project.pmtId}}&app={{project.impactedApplication.value}}&filename={{file}}"
                                           target="_blank">{{file}}</a>
                                    </li>
                                </ul>
                            </dl>
                            <div ng-show="authentication.user.roles.indexOf('editor')!=-1 && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                                <div class="text-left form-group" data-ng-hide="docUploader.queue.length">
                                  <span class="btn btn-default btn-file">
                                       Upload Document <input type="file" nv-file-select uploader="docUploader"
                                                              accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                                                application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                                                application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint">
                                  </span>
                                </div>
                                <div class="text-left form-group" data-ng-show="docUploader.queue.length">
                                    {{docName}}
                                    <button class="btn btn-primary" data-ng-click="uploadDocument();">Upload
                                    </button>
                                    <button class="btn btn-default" data-ng-click="cancelUpload();">Cancel
                                    </button>
                                </div>
                                <div ng-show="progressVisible">
                                    <div class="percent">{{progress}}%</div>
                                    <div class="progress-bar-upload">
                                        <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                    </div>
                                </div>
                                <div data-ng-show="success" class="text-center text-success">
                                    <strong>Document uploaded Successfully..</strong>
                                </div>
                                <div data-ng-show="uploadError" class="text-danger">
                                    <strong data-ng-bind="uploadError"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> AIS Summary</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="list-group">
                                <dt>Digital AIS</dt>
                                <dd><a ng-href="http://dsp.web.att.com/app/#/project/{{project.pmtId}}" target="_blank">Link to Digital AIS (Digital Solution Platform)</a></dd>
                                <dd>
                                    <button ng-show="impactNotes" ng-click="dspDetail('NOTES')" class="btn btn-info">Impact Notes</button>
                                    <button ng-show="solutionOverview" ng-click="dspDetail('OVERVIEW')"  class="btn btn-info">Solution Overview</button>
                                    <button ng-show="solutionDetails" ng-click="dspDetail('DETAIL')" class="btn btn-info">Solution Details</button>
                                </dd>
                                <dt> Current Phase</dt>
                                <dd>{{project.aisDetail.currentPhase.value}}</dd>
                                <dt> Phase-1 Status</dt>
                                <dd>{{project.aisDetail.phase1Status.value}}</dd>
                                <dt> Phase-1 Reviewed by DETS</dt>
                                <dd>{{project.aisDetail.phase1Reviewed}}</dd>
                                <dt> Phase-1 Review Comments / Reason for not review</dt>
                                <dd>{{project.aisDetail.phase1ReviewComments}}</dd>
                                <dt> Phase-2 Status</dt>
                                <dd>{{project.aisDetail.phase2Status.value}}</dd>
                                <dt> Solution Status</dt>
                                <dd>{{project.aisDetail.solutionStatus.value}}</dd>
                                <dt> Solution Aligned</dt>
                                <dd>{{project.aisDetail.solutionAligned.value}}</dd>
                                <dt> Has Phase-2 Solution Changed?</dt>
                                <dd>{{project.aisDetail.solutionChangedInPhase2}}</dd>
                                <dt> Phase-1 vs Phase-2 Solution Change Reason & Review</dt>
                                <dd>{{project.aisDetail.solutionChangeReason}}</dd>
                                <dd>
                                    <button ng-show="devImpactApps" popover-html="devImpactApps" popover-placement="bottom-right" popover-class="custom-popover" class="btn btn-info">Dev Impact Applications</button>
                                    <button ng-show="nonDevImpactApps" popover-html="nonDevImpactApps" popover-placement="bottom-right" popover-class="custom-popover" class="btn btn-info">Non-Dev Impact Applications</button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> TFA Deliverables Summary - Registration & Dashboard</h3>
                        </div>
                        <div class="panel-body">
                            <dt> Has TFA Documents delivered on time?</dt>
                            <dd> {{project.tfaDeliverables.registration.deliveredOntime}}</dd>
                            <dt> Reason for deliverables delay if any</dt>
                            <dd> {{project.tfaDeliverables.registration.reasonForDelay}}</dd>
                            <dt> Document Reference & Links</dt>
                            <dd> {{project.tfaDeliverables.registration.documentLinks}}</dd>
                            <dt> Notes & Comments</dt>
                            <dd> {{project.tfaDeliverables.registration.additionalNotes}}</dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> TFA Deliverables Summary - Ordering & Status, Unified Portal</h3>
                        </div>
                        <div class="panel-body">
                            <dt> Has TFA Documents delivered on time?</dt>
                            <dd> {{project.tfaDeliverables.ordering.deliveredOntime}}</dd>
                            <dt> Reason for deliverables delay if any</dt>
                            <dd> {{project.tfaDeliverables.ordering.reasonForDelay}}</dd>
                            <dt> Document Reference & Links</dt>
                            <dd> {{project.tfaDeliverables.ordering.documentLinks}}</dd>
                            <dt> Notes & Comments</dt>
                            <dd> {{project.tfaDeliverables.ordering.additionalNotes}}</dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> TFA Deliverables Summary - Maps, Inventory, Ticketing & Status, Reporting</h3>
                        </div>
                        <div class="panel-body">
                            <dt> Has TFA Documents delivered on time?</dt>
                            <dd> {{project.tfaDeliverables.inventory.deliveredOntime}}</dd>
                            <dt> Reason for deliverables delay if any</dt>
                            <dd> {{project.tfaDeliverables.inventory.reasonForDelay}}</dd>
                            <dt> Document Reference & Links</dt>
                            <dd> {{project.tfaDeliverables.inventory.documentLinks}}</dd>
                            <dt> Notes & Comments</dt>
                            <dd> {{project.tfaDeliverables.inventory.additionalNotes}}</dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Data Mapping Status Summary</h3>
                        </div>
                        <div class="panel-body">
                            <h3> Static Test Status :</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dt> Planned Start Date</dt>
                                    <dd> {{project.dataMapping.staticTest.plannedStartDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Planned End Date</dt>
                                    <dd> {{project.dataMapping.staticTest.plannedEndDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt>Number of defects identified</dt>
                                    <dd>{{project.dataMapping.staticTest.numberOfDefectsIdentified}}</dd>
                                </div>
                                <div class="col-lg-6">
                                    <dt> Actual Start Date</dt>
                                    <dd> {{project.dataMapping.staticTest.actualStartDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Actual End Date</dt>
                                    <dd> {{project.dataMapping.staticTest.actualEndDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt>Percentage of Completion</dt>
                                    <dd>{{project.dataMapping.staticTest.percentageCompletion}} %</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dt>Reason for Delay if any </dt>
                                    <dd>{{project.dataMapping.staticTest.reasonForDelay}}</dd>
                                </div>
                            </div>
                            <h3> Dynamic Test Status :</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dt> Planned Start Date</dt>
                                    <dd> {{project.dataMapping.dynamicTest.plannedStartDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Planned End Date</dt>
                                    <dd> {{project.dataMapping.dynamicTest.plannedEndDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt>Number of defects identified</dt>
                                    <dd>{{project.dataMapping.dynamicTest.numberOfDefectsIdentified}}</dd>
                                </div>
                                <div class="col-lg-6">
                                    <dt> Actual Start Date</dt>
                                    <dd> {{project.dataMapping.dynamicTest.actualStartDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Actual End Date</dt>
                                    <dd> {{project.dataMapping.dynamicTest.actualEndDate | date: 'MM/dd/yyyy'}}</dd>
                                    <dt>Percentage of Completion</dt>
                                    <dd>{{project.dataMapping.dynamicTest.percentageCompletion}} %</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dt>Reason for Delay if any</dt>
                                    <dd>{{project.dataMapping.dynamicTest.reasonForDelay}}</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dt>Document Reference/Links</dt>
                                    <dd>{{project.dataMapping.documentLinks}}</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dt>Additional Notes/Comments</dt>
                                    <dd>{{project.dataMapping.additionalNotes}}</dd>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> List of Change Requests</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" ng-show="requests.length == 0">
                                    No Requests found
                                </div>
                            </div>
                            <div class="row" ng-repeat="request in requests">
                                <div class="col-lg-12">
                                    <dt>
                                        CR Number
                                        <a class="btn btn-primary"
                                           data-ui-sref="request.edit({changeReqId: request._id, pmtId:project.pmtId})"
                                           ng-show="(authentication.user.roles.indexOf('editor')!=-1 || authentication.user.roles.indexOf('tfa_editor')!=-1) && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </dt>
                                    <dd> {{request.crNumber}}</dd>
                                    <dt> Description</dt>
                                    <dd> {{request.description}}</dd>
                                    <dt> Status</dt>
                                    <dd> {{request.status.value}}</dd>
                                    <dt> Reason for request</dt>
                                    <dd> {{request.reason.value}}</dd>
                                    <dt> Other Reasons</dt>
                                    <dd> {{request.otherReason}}</dd>
                                    <dt> Additional Notes</dt>
                                    <dd> {{request.additionalNotes}}</dd>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Estimates Comparison</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" ng-show="!mdeExists && !dde1Exists && !dde2Exists">
                                    No Estimates found
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" ng-show="mdeExists">
                                    <h3>
                                        MDE Estimates:
                                        <a class="btn btn-primary"
                                           data-ui-sref="estimates.edit({estimateId: mde._id, pmtId:project.pmtId, estType:'MDE',application:project.impactedApplication.key})"
                                           ng-show="authentication.user.roles.indexOf('editor')!=-1 && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </h3>
                                    <dl class="list-group">
                                        <dt> Estimated Hours</dt>
                                        <dd>{{mde.estimates.hours}}</dd>
                                        <dt> Estimated Dollar amount</dt>
                                        <dd>${{mde.estimates.cost | number}}</dd>
                                        <dt> Complexity</dt>
                                        <dd>{{mde.estimates.complexity.value}}</dd>
                                        <dt> Impacted Workstreams</dt>
                                        <dd ng-repeat="ws in mde.estimates.impactedWorkstreams">{{ws.value}}
                                        </dd>
                                        <dt> Assumptions</dt>
                                        <dd>{{mde.estimates.assumptions}}</dd>
                                        <dt> dependencies</dt>
                                        <dd>{{mde.estimates.dependencies}}</dd>
                                        <dt> Additional Notes</dt>
                                        <dd>{{mde.estimates.additionalNotes}}</dd>
                                        <dt> Sanity check on estimate completed</dt>
                                        <dd>{{mde.estimates.sanityCheckOnEstimate}}</dd>
                                        <dt> Is Valid Estimate</dt>
                                        <dd>{{mde.estimates.estimateValid}}</dd>
                                        <dt> Reason for Deviation in Estimate</dt>
                                        <dd>{{mde.estimates.reasonForEstimateFailure}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" ng-show="dde1Exists">
                                    <h3>
                                        DDE Estimates:
                                        <a class="btn btn-primary"
                                           data-ui-sref="estimates.edit({estimateId: dde1._id, pmtId:project.pmtId, estType:'DDE1',application:project.impactedApplication.key})"
                                           ng-show="authentication.user.roles.indexOf('editor')!=-1 && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </h3>
                                    <dl class="list-group">
                                        <dt> Estimated Hours</dt>
                                        <dd>{{dde1.estimates.hours}}</dd>
                                        <dt> Estimated Dollar Amount</dt>
                                        <dd>${{dde1.estimates.cost | number}}</dd>
                                        <dt> Complexity</dt>
                                        <dd>{{dde1.estimates.complexity.value}}</dd>
                                        <dt> Impacted Workstreams</dt>
                                        <dd ng-repeat="ws in dde1.estimates.impactedWorkstreams">{{ws.value}}
                                        </dd>
                                        <dt> Assumptions</dt>
                                        <dd>{{dde1.estimates.assumptions}}</dd>
                                        <dt> dependencies</dt>
                                        <dd>{{dde1.estimates.dependencies}}</dd>
                                        <dt> Additional Notes</dt>
                                        <dd>{{dde1.estimates.additionalNotes}}</dd>
                                        <dt> Sanity check on estimate completed</dt>
                                        <dd>{{dde1.estimates.sanityCheckOnEstimate}}</dd>
                                        <dt> Is Valid Estimate</dt>
                                        <dd>{{dde1.estimates.estimateValid}}</dd>
                                        <dt> Reason for Deviation in Estimate</dt>
                                        <dd>{{dde1.estimates.reasonForEstimateFailure}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Risk & Issues</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" ng-show="riskAndIssuesList.length == 0">
                                    No Risk & Issues found
                                </div>
                            </div>
                            <div class="row" ng-repeat="issue in riskAndIssuesList">
                                <div class="col-lg-12">
                                    <dt>
                                        Risk & Issue Description
                                        <a class="btn btn-primary"
                                           data-ui-sref="issues.edit({issueId: issue._id, pmtId:project.pmtId, release:project.release})"
                                           ng-show="(authentication.user.roles.indexOf('editor')!=-1 || authentication.user.roles.indexOf('tfa_editor')!=-1 || authentication.user.roles.indexOf('dm_editor')!=-1) && project.status.key!='COMPLETED' && project.status.key!='CANCELLED'">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </dt>
                                    <dd> {{issue.riskAndIssue}}</dd>
                                    <dt> Raised On</dt>
                                    <dd> {{issue.raisedOn | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Raised By</dt>
                                    <dd> {{issue.raisedBy}}</dd>
                                    <dt> Status</dt>
                                    <dd> {{issue.issueStatus.value}}</dd>
                                    <dt> Priority</dt>
                                    <dd> {{issue.priority.value}}</dd>
                                    <dt> AIS Phase</dt>
                                    <dd> {{issue.designPhase.value}}</dd>
                                    <dt> Owned By</dt>
                                    <dd> {{issue.ownedBy}}</dd>
                                    <dt> Resolution</dt>
                                    <dd> {{issue.resolution}}</dd>
                                    <dt> Closed On</dt>
                                    <dd> {{issue.closedOn | date: 'MM/dd/yyyy'}}</dd>
                                    <dt> Reason</dt>
                                    <dd> {{issue.reason}}</dd>
                                    <dt> Comments</dt>
                                    <dd> {{issue.comments}}</dd>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Discussion Threads</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" ng-show="discussions.length == 0">
                                    No Discussion Threads found
                                </div>
                            </div>
                            <div class="row" ng-repeat="discussion in discussions">
                                <div class="col-lg-12">
                                    <dt>Topic</dt>
                                    <dd> <a data-ui-sref="discussions.view({discussionId: discussion._id})"> {{discussion.topic.value}} </a></dd>
                                    <dt> Sub Topic</dt>
                                    <dd> {{discussion.subTopic}}</dd>
                                    <dt> Status</dt>
                                    <dd> {{discussion.status.value}}</dd>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Other Details</h3>
                        </div>
                        <div class="panel-body">
                            <dt> Risks & Issues</dt>
                            <dd>{{project.riskAndIssues.comments}}</dd>
                            <dt> Additional Notes</dt>
                            <dd>{{project.additionalNotes}}</dd>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
