<section data-ng-controller="HomeController">
  <div class="inner cover">
    <h1 class="cover-heading header-image">Enterprise Helpmate</h1>
    <p class="lead">By using this tool, user can easily track the status of architecture artifacts, and other deliverables within an Enterprise environment dealing with multiple projects</p>
    <p class="lead">This tool also facilitates PMO group to track the status of projects and resource load to effectively manage the project</p>
    <p class="lead"><strong>Highlights of this Tool:</strong></p>
    <ul>
      <li>
        Interactive & classic Dashboard with Metrics
      </li>
      <li>
        Create & Modify the Projects within a tool easily and efficiently
      </li>
      <li>
        Manage the Change Requests & various kind of estimates associated with the projects
      </li>
      <li>
        Display various kind of reports & metrics upfront to the PMO
      </li>
    </ul>
    <p class="lead">The other benefits of the tool includes easily configurable for any Enterprise environment and fine grained user permissions & roles can be defined for the features</p>
  </div>
  <div class="footer">
  © 2017 Helpmate
  </div>
</section>
