<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="DETS Architecture" class="img-responsive text-center" src="modules/core/img/brand/DET-Logo-large-spelled-out-color-Aleck.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        DETS Architecture
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://wiki.web.att.com/display/DETS/Business+Solutions" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to DETS Architecture Team!! </h2>
    <p>The Digital Experience Technology Services organization provides architecture, management, and compliance support for its three lines of business, which includes Wireless, Home Solutions, and Business. It also provides service to its three technology towers: Sales, Service/Support, and ABS</p>
    <p>By using this AIS tracker, user can easily track the status of solution document and snapshot of project architecture deliverable status</p>
    <p>This application also provides reports summary for all the identified projects to which DETS architects got assigned. This application focuses mainly on the projects assigned under ABS workstream. The primary focus area which includes</p>
    <ul>
      <li>
       Business Center
      </li>
      <li>
        Premier
      </li>
    </ul>
    <p>
      <a target="_blank" href="https://wiki.web.att.com/display/DETS/Team">Click here </a> To view the members of DETS architecture team and their area of expertise.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2><strong>C</strong>onsumer Sales</h2>
      <p><a target="_blank" href="https://www.att.com/">Consumer Sales</a> application to learn and order wireless & wireline products for individual customers and small business </p>
    </div>
    <div class="col-md-4">
      <h2><strong>C</strong>onsumer Services</h2>
      <p><a target="_blank" href="https://www.att.com/"> Consumer Services/myATT</a> application to manage the services for individual customers and small business </p>
    </div>
    <div class="col-md-4">
      <h2><strong>A</strong>BS</h2>
      <p>In ABS there are mainly two applications namely Premier and Business Center. Business Center focuses on servicing Enterprise Customers wirline product portfolio. And Premier application focuses on Mobility services</p>
    </div>
  </div>
</section>
