<section class="row" data-ng-controller="UtilitiesController">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <h3>Available Templates: </h3>
        <span>
            Please use the below links to download the templates to use for batch processing. It helps to import the Projects, Change Requests and Estimates through spreadsheet
        </span>
        <ul>
            <li><a ui-sref="#">Project Template</a></li>
            <li><a ui-sref="#">Change Request Template</a></li>
            <li><a ui-sref="#">Estimates Template</a></li>
        </ul>
    </div>
</section>
