<section data-ng-controller="EstimatesController" data-ng-init="findOne('EDIT')">
    <div class="page-header">
        <h1>Modify {{estType}} Estimates to - <small><a ui-sref="projects.view({projectId: estimate.projectId})"> {{pmtId}}</a> </small></h1>
    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
    <form class="form-horizontal" name="estimatesForm" data-ng-submit="update()">
        <div class="form-group">
            <div class="form-group">
                <label for="hours" class="control-label col-xs-2">Total Estimated Hours (Tech-Dev)</label>
                <div class="col-xs-10">
                    <input type="number" class="form-control" data-ng-model="estimate.estimates.hours" id="hours" placeholder="Number of hrs."
                           maxlength="8">
                    <span class="help-block">
                        Provide the Number of hours estimated for Business Center/ Premier applications
                        <a ng-show="estType==='MDE'" href="https://intra4.web.att.com/mde/#/project/{{pmtId}}" target="_blank">Refer MDE Tool</a>
                        <a ng-show="estType==='DDE1'" href="https://operations.web.att.com/sites/eStrategy/Shared Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FeStrategy%2FShared%20Documents%2FDetailed%20Delivery%20Estimate%20%28DDE%29%2FDDE&InitialTabId=Ribbon%2EDocument&VisibilityContext=WSSTabPersistence" target="_blank">Refer DDE Documents</a>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-show="estType==='DDE1'">
                <label for="detsHours" class="control-label col-xs-2">DETS Estimated Hours</label>
                <div class="col-xs-10">
                    <input type="number" class="form-control" data-ng-model="estimate.estimates.teamHours.dets" id="detsHours" placeholder="Number of hrs." maxlength="8" ng-required="estType==='DDE1'">
                </div>
            </div>
            <div class="form-group" ng-show="estType==='DDE1'">
                <label for="tfaHours" class="control-label col-xs-2">TFA Estimated Hours</label>
                <div class="col-xs-10">
                    <input type="number" class="form-control" data-ng-model="estimate.estimates.teamHours.tfa" id="tfaHours" placeholder="Number of hrs." maxlength="8" ng-required="estType==='DDE1'">
                </div>
            </div>
            <!--div class="form-group" ng-show="estType==='DDE1'">
                <label for="dmHours" class="control-label col-xs-2">Data Mapping Estimated Hours</label>
                <div class="col-xs-10">
                    <input type="number" class="form-control" data-ng-model="estimate.estimates.teamHours.dm" id="dmHours" placeholder="Number of hrs." maxlength="8" required>
                </div>
            </div-->
            <div class="form-group">
                <label for="cost" class="control-label col-xs-2">Estimated Cost (in USD)</label>
                <div class="col-xs-10">
                    <input type="number" class="form-control" data-ng-model="estimate.estimates.cost" id="cost" placeholder="Estimated Cost" step="0.01"
                           maxlength="15" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    <span class="help-block">
                        Provide estimated dollar amount for Business Center/ Premier applications
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="originalComplexity" class="control-label col-xs-2">Original Complexity (in AIS)</label>
                <div class="col-xs-10">
                    <select class="form-control" id="originalComplexity" ng-options="comp.value for comp in complexity" data-ng-model="selOriginalComplexity">
                        <option value="">Select Complexity</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="complexity" class="control-label col-xs-2">Complexity</label>
                <div class="col-xs-10">
                    <select class="form-control" id="complexity" ng-options="comp.value for comp in complexity" data-ng-model="selComplexity">
                        <option value="">Select Complexity</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ws" class="control-label col-xs-2">Impacted Workstreams</label>
                <div class="col-xs-10">
                    <select class="form-control" id="ws" ng-options="ws.value for ws in impactedWorkstreams | filter:{app:application}" data-ng-model="selWorkstream"  multiple>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dependencies" class="control-label col-xs-2">Dependencies</label>
                <div class="col-xs-10">
                        <textarea class="form-control" data-ng-model="estimate.estimates.dependencies" id="dependencies" rows="3"
                                  placeholder="Dependencies"
                                  maxlength="4000"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="assumptions" class="control-label col-xs-2">Assumptions</label>
                <div class="col-xs-10">
                        <textarea class="form-control" data-ng-model="estimate.estimates.assumptions" id="assumptions" rows="3"
                                  placeholder="Assumptions"
                                  maxlength="4000"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="additionalNotes" class="control-label col-xs-2">Additional Notes</label>
                <div class="col-xs-10">
                        <textarea class="form-control" id="additionalNotes" rows="5" placeholder="Additional Notes"
                                  data-ng-model="estimate.estimates.additionalNotes"
                                  maxlength="4000"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="sanityCheckOnEstimate" class="control-label col-xs-2">Sanity check on Estimate</label>
                <div class="col-xs-10">
                    <input type="checkbox" data-ng-model="estimate.estimates.sanityCheckOnEstimate" id="sanityCheckOnEstimate"
                           ng-true-value="'YES'" ng-false-value="'NO'">
                </div>
            </div>
            <div class="form-group">
                <label for="estimateValid" class="control-label col-xs-2">Is Estimation valid?</label>
                <div class="col-xs-10">
                    <input type="checkbox" data-ng-model="estimate.estimates.estimateValid" id="estimateValid"
                           ng-true-value="'YES'" ng-false-value="'NO'">
                </div>
            </div>
            <div class="form-group">
                <label for="reasonForEstimateFailure" class="control-label col-xs-2">Reason for deviation in Estimates</label>
                <div class="col-xs-10">
                        <textarea class="form-control" id="reasonForEstimateFailure" rows="5" placeholder="Reason for Deviation"
                                  data-ng-model="estimate.estimates.reasonForEstimateFailure"
                                  maxlength="4000" ng-required="estimate.estimates.sanityCheckOnEstimate==='YES' && estimate.estimates.estimateValid==='NO'"></textarea>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Modify Estimate</button>
            </div>
        </div>
    </form>
</section>
