<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{notesMode==='CREATE'?'Add Notes to Discussion thread':'Modify Notes'}}
    </h3>
</div>
<form class="form-horizontal" name="NotesForm" data-ng-submit="manageNotes()">
    <div class="modal-body" id="modal-body">
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
        <div class="form-group">
            <label for="notes" class="control-label col-xs-2">Notes</label>
            <div class="col-xs-10">
                        <textarea class="form-control" data-ng-model="notes" id="notes" rows="5"
                                  placeholder="Add Notes"
                                  maxlength="1000" required></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
