<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{notesMode==='CREATE'?'Add Notes to Discussion thread':'Modify Notes'}}
    </h3>
</div>
<form class="form-horizontal" name="NotesForm" data-ng-submit="manageNotes()">
    <div class="modal-body" id="modal-body">
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Notes</label>
            <div class="col-xs-10">
                <text-angular ng-model="notes" ta-text-editor-class="form-content" ta-html-editor-class="form-content" ta-max-text="1000" ta-min-text="10"></text-angular>
                <span class="help-block">Maximum of 1000 characters only allowed. Entering more than 1000 characters not accepted and won't get saved</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
